{% extends "base.html" %}
{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading"><h3>Novo cenário de testes</h3></div>
			<div class="alert alert-success" role="alert">
				<h4 class="alert-heading">Importante!</h4>
				<p>Os tamanhos dos arquivos são pré-definido em 1GB, 10GB e 100GB.</p>
				<p>Limite é a quantidade de vezes que deseja repetir os testes.</p>
			</div>
			<div class="panel-body">
				<div id = "load">

					<img src = "/static/imgg/ajax-loader.gif">
					 <br>Realizando os testes. Pode demorar minutos ou até horas. Aguarde!</br>
				</div>
					<form class="form-horizontal" action='' method = 'POST' id = "loadform">
						{% csrf_token %}
						  		<table class="table table-form">
						  		<tbody>
								{{ form.as_table }}
								</tbody>
								</table>

								<table class="table table-submit">
									<tbody>
										<tr>
											<td width="27%" />
											<td>
												<input type="submit" class="btn btn-primary" value="Iniciar Teste"/>
											</td>
										</tr>
									</tbody>
								</table>
					</form>
			</div>
		</div>
	</div>


{% endblock %}
