{% extends "base.html" %}
{% block content %}

	<div class="jumbotron">
	<h1>Data Transfer Tester </h1> 
	<p>	O programa Science DMZ da RNP visa estudar e disseminar melhores práticas de infraestrutura de redes de campus voltadas às aplicações científicas. Dada a crescente escala em que volumes cada vez maiores de dados precisam ser processados e analisados por aplicações científicas as redes de campus das universidades necessitam se adequar a esta nova demanda de transferência de dados entre laboratórios e instituições. </p>
	<p>O Data Transfer Tester (DTT) foi desenvolvido para facilitar os testes de validação da máquina de transferência de dados(DTN)</p>
	<p> <a href="https://wiki.rnp.br/display/sciencedmz/Science+DMZ+Home"> Wiki Science DMZ </a> </p>
	</div>

{% endblock %}